<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1440,w_2560,x_0,y_0/dpr_1.5/c_limit,w_1044/fl_lossy,q_auto/v1517521303/180131-wondrich-bad-cocktail-tease_wghhv8)">
  <h1>Le bar de Barbeuz</h1>
</div>





<div class="container">
  <%= link_to "Ajouter un cocktail", new_cocktail_path  %>
  <div class="row justify-content-center">

      <% @cocktails.each_with_index do |cocktail, index| %>

          <!-- Card cocktail -->
          <div class="col-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
                <%= link_to cocktail.name, cocktail_path(cocktail) %>
                <div class="delete-button">
                  <%= link_to "Delete", cocktail_path(cocktail), method: :delete %>
                </div>
              </div>
          </div>

      <% end %>

  </div>
</div>
