<div class="container">

  <!-- Bartender image -->
  <img src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2019/07/bartender-working-on-making-a-cocktail.jpg"
        alt=""
        class="img-fluid">
  <br>
  <br>
  <!-- Title -->
  <h1 class="text-white"> Créez votre cocktail</h1>

  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
