<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="content-wrapper container">
  <h2 class="green-font">
    <b><i>
      L’éducation française en ligne
    </i></b>
  </h2>
  <h3>
    Présentation du programme Little Ecologists (à partir de 1h 40 min de présentation) lors de la conférence de l'éducation française en ligne au sein la Bilingual Fair 2020, organisée par French Morning.
  </h3>

  <div>
    <a href="http://bilingualfair.com/leducation-francaise-en-ligne/"
       class="btn btn-success btn-lg active",
       target="_blank"
       role="button" aria-pressed="true">
       Réservez vos places
     </a>
  </div>

  <br>
  <br>

  <h2 class="green-font">
    <b><i>
      L'Atelier de Noël
    </i></b>
  </h2>

  <h3>
    Little Ecologists et Merci Bisous organisent un événement Noël en famille autour d’activités écologiques et gourmandes .
  </h3>

  <div class="d-flex justify-content-center mt-3 mb-5">
    <%= image_tag "events/atelier-de-noel-format-header.jpg",
        alt: "atelier-noel",
        width: "100%",
        style: "border-radius: 1rem" %>
  </div>

  <h3>
    L'atelier de Noël, un événement Noël à Brooklyn en famille autour d’activités écologiques et gourmandes.
  </h3>
  <h3>
    Pour clôturer cette année 2020, Little Ecologists,
    <a href="https://www.mercibisous.com/">Merci Bisous</a>
     et Pain d'épices de Klara se réunissent pour organiser un événement Noël en famille autour d’activités écologiques et gourmandes sur le thème d'un Noël festif et éco-responsable.
  </h3>



  <h3> <b class="green-font">
    Rendez-vous chez Winemak’her le 6 décembre de 14h à 17h </b>, nous vous avons préparé les activités suivantes :
  </h3>
  <h3>
    <ul>
      <li>
        Atelier de création de guirlande de Noël recyclée avec Marie et Pauline.
      </li>
      <li>
        Atelier de décoration de biscuits de pain d’épices de Noël avec Klara.
      </li>
    </ul>
  </h3>
  <h3>
    Cet événement s’adresse aux familles avec des enfants à partir de 3 ans.
  </h3>

  <h3>
    Afin de respecter les règles de précautions, nous limitons à 10 personnes et organiserons 2 groupes, un premier de 14h à 15h30 et un second à 15h30 à 17h.
  </h3>
  <h3>
    Le ticket est pour un adulte avec un enfant.
  </h3>
  <h3>
    Pour des raisons de sécurité, tout enfant de moins de 8 ans devra être accompagné d'un adulte.
  </h3>
  <h3>
    Merci de nous contacter par email à
    <a href="mailto:marie@little-ecologists.com">
       marie@little-ecologists.com
    </a>
     si vous souhaitez venir avec un deuxième enfant.
  </h3>
  <h3>
    A bientôt et Joyeuses Fêtes !
  </h3>

  <div>
    <a href="https://www.eventbrite.com/e/latelier-de-noel-tickets-128815080373"
       class="btn btn-success btn-lg active",
       target="_blank"
       role="button" aria-pressed="true">
       Informations et inscriptions
     </a>
  </div>


</div>
<%= render 'shared/newsletter' %>
