<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="content-wrapper container">
  <h2 class="green-font"><b><i>
    Les ateliers éco-ludiques “Atelier Arc-en-ciel”
  </i></b></h2>
  <h3>
    Des ateliers éco-ludiques pour les parents et les enfants qui donnent les clés pour adopter des attitudes éco-responsables au quotidien.
  </h3>
  <h3>
    Des activités ludiques éducatives pour impliquer les enfants dans la protection de l’environnement
  </h3>

  <br>
  <h2 class="green-font"><b><i>
    Les thèmes
  </i></b></h2>

  <h3>
    les enjeux des déchets, les bases du tri et l’importance du recyclage
  </h3>
  <h3>
    les 3R, le Zéro Déchet
  </h3>
  <h3>
    l'eau et ses enjeux
  </h3>
  <h3>
    le plastique
  </h3>
  <h3>
    la pollution
  </h3>
</div>

