<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="content-wrapper container">
  <h2 class="green-font"><b><i>
    Les ateliers éco-ludiques “Atelier Arc-en-ciel”
  </i></b></h2>
  <h3>
    Des ateliers éco-ludiques pour les parents et les enfants qui donnent les clés pour adopter des attitudes éco-responsables au quotidien.
  </h3>
  <h3>
    Des activités ludiques éducatives pour impliquer les enfants dans la protection de l’environnement
  </h3>

  <br>
  <h2 class="green-font"><b><i>
    Les thèmes
  </i></b></h2>

  <div class="row">
    <div class="col-1 d-flex justify-content-end">
      <h3><i class="fas fa-recycle fa-lg green-font"></i>
    </div>
    <div class="col-11 ml-0 pl-0">
      <h3>
        Les enjeux des déchets, les bases du tri et l’importance du recyclage
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-1 d-flex justify-content-end">
      <h3><i class="fas fa-recycle fa-lg green-font"></i></h3>
    </div>
    <div class="col-11 ml-0 pl-0">
      <h3>
        Les 3R, le Zéro Déchet
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-1 d-flex justify-content-end">
      <h3><i class="fas fa-water fa-lg blue-font"></i></h3>
    </div>
    <div class="col-11 ml-0 pl-0">
      <h3>
        L'eau et ses enjeux
      </h3>
    </div>
  </div>
  </h3>

  <div class="row">
    <div class="col-1 d-flex justify-content-end">
      <h3><i class="fas fa-shopping-bag fa-lg light-purple-font"></i></h3>
    </div>
    <div class="col-11 ml-0 pl-0">
      <h3>
        Le plastique
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-1 d-flex justify-content-end">
      <h3><i class="fas fa-smog fa-lg"></i></h3>
    </div>
    <div class="col-11 ml-0 pl-0">
      <h3>
        La pollution
      </h3>
    </div>
  </div>
</div>

