<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- Logo -->
      <%= image_tag "little_ecologists_sans_slogan.jpg", alt: "logo", width: 300 %>

    </div>
    <div class="col-8 pl-3" id="tagline">
      <!-- Nom -->
      <%= image_tag "raising-future-awareness.png", alt: "Raising future generation awareness", width: 450 %>
    </div>
  </div>
</div>

  <!-- Ajout logo -->

<div class="container">
  <div class="row">
    <div class="col-12">
    <h2 class="green-font">
      <b>
        <i>
          Notre mission
        </i>
      </b>
    </h2>

    <h3>
      Notre mission est d’éduquer les enfants à protéger l’environnement
      et à créer des habitudes respectueuses de la nature avec:
    </h3>
    <ul>
      <li>
        <h3>
          Un programme éducatif de sensibilisation à l’environnement en Français, proposé en-ligne et dans les écoles.
        </h3>
      </li>
      <li>
        <h3>
          Des classes écologiques qui responsabilisent les enfants et développent leur sensibilité à la nature et l’écologie.
        </h3>
      </li>
      <li>
        <h3>
          Une approche pensée pour les enfants de la Grande Section au CM1
        </h3>
      </li>
    </ul>

    </div>
  </div>
</div>

<div class="mt-5"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="green-font">
        <b>
          <i>
            Pourquoi Little Ecologists?
          </i>
        </b>
      </h2>
    </div>
    <div class="col-12">

      <h3>
        Les enfants sont notre futur.
      </h3>
      <h3>
        La Terre est notre planète.
      </h3>
      <h3>
        Les enfants sont fortement connectés à la Terre et ils ressentent le déséquilibre que la planète vit avec le réchauffement climatique.
      </h3>
      <h3>
        L’éco anxiété accable et bouleverse émotionnellement les enfants.
      </h3>
      <h3>
        Agir de manière responsable et consciente est un moyen pour les enfants de se sentir mieux et de canaliser leur énergie.
      </h3>

    </div>
  </div>
</div>

<div class="mt-5"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <%= image_tag "beach.png",
          alt: "Beach",
          style: 'height:100%;width:100%;'
          %>
        <h3 class="overlay-text">
          <i>
            “Nous n’héritons pas de la terre de nos parents,
            <br>
            nous l’empruntons à nos enfants.”
          </i>
          <br>
          - Antoine de Saint-Exupéry
        </h3>
      </div>
    </div>
  </div>
</div>
