<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="container content-wrapper mt-5">
  <div class="row">
    <div class="col-8 mt-3">
      <p>
        Texte
      </p>

      <h3>
        En savoir plus
      </h3>
      <p>
        Texte
      </p>
    </div>
    <div class="col-4">
      <div class="m-3">
        <%= image_tag "atelier-arc-en-ciel-rainbow-hands-girl.jpg", alt: "logo", width: 500 %>
      </div>
      <div class="m-3">
        <%= image_tag "plage-sable-fin.jpg", alt: "logo", width: 500 %>
      </div>
    </div>
  </div>
</div>
