<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="container">
  <h2 class="green-font">
    Inscrivez-vous à nos ateliers
  </h2>
  <script type='application/javascript'
          data-sawyertools='sawyertools'
          async id='SA_OOB6aOfEOyTerBWd5ET_EJOgKlnlvhf-'
          src='https://sawyer-admin-production.herokuapp.com/embed/OOB6aOfEOyTerBWd5ET_EJOgKlnlvhf-.js'
          >
  </script>
</div>
