<%= render '/shared/us-navbar' %>

<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="container mt-5">
  <div class="row">
    <div class="col-12 mt-3">
      <h2>Why Little Ecologist?</h2>
      <p>
        Kids are our future.
      </p>
      <p>
        The Earth is our planet.
      </p>
      <p>
        Kids are strongly connected to our planet and feel the imbalance the Earth is suffering.
      </p>
      <p>
        Eco anxiety is overwhelming kids.
      </p>
      <p>
        Acting responsibly is a way to channel their energy and to feel better.
      </p>
    </div>
<!--     <div class="col-4">
      <div class="m-3">
        <%= image_tag "atelier-arc-en-ciel-rainbow-hands-girl.jpg", alt: "logo", width: 400 %>
      </div>
      <div class="m-3">
        <%= image_tag "plage-sable-fin.jpg", alt: "logo", width: 400 %>
      </div>
    </div>
 -->
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>
        Our mission is to educate children on protecting the environment and creating eco-friendly habits.
      </h2>
    </div>
  </div>

  <!-- WHAT WE DO -->
  <div class="row mt-5">
    <div class="col-12">
      <h2>What we do</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <!-- Image -->
    </div>
    <div class="col-8">
      <h4>
        French online & in-school After School Programs and Enrichment Classes around environmental awareness.
      </h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <!-- Image -->
    </div>
    <div class="col-8">
      <h4>
        Eco-friendly classes that empower kids and develop their eco awareness.
      </h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <!-- Image -->
    </div>
    <div class="col-8">
      <h4>
        Pre-K to 3rd-grader.
      </h4>
    </div>
  </div>

  <!-- SUBSCRIBE -->
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6 mb-5">
      <button type="button" class="btn btn-lg btn-success btn-block">Subscribe</button>
    </div>
    <div class="col-3"></div>
  </div>


</div>
