<%= render '/shared/us-navbar' %>

<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="container mt-5">
  <div class="row">
    <div class="col-8 mt-3">
      <p>
        The Earth is our planet. And we have the responsibility to take care of her.
        Our mission at Little Ecologists is to educate children on protecting the environment and creating eco-friendly habits.
        We offer French online and in-school After School programs and Enrichment classes around environmental awareness to kids in pre-K to 3rd-grade.
        Our eco-friendly classes empower kids and develop their eco awareness.
      </p>

      <h3>
        Learn more
      </h3>
      <p>
        We are stronger together.
        We need eco-conscious kids to build a better planet, a planet where they will thrive and prosper instead of being afraid and anxious.
      </p>
    </div>
    <div class="col-4">
      <div class="m-3">
        <%= image_tag "atelier-arc-en-ciel-rainbow-hands-girl.jpg", alt: "logo", width: 500 %>
      </div>
      <div class="m-3">
        <%= image_tag "plage-sable-fin.jpg", alt: "logo", width: 500 %>
      </div>
    </div>
  </div>
</div>
