<%= render '/shared/us-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="container mb-5">

  <h1>
    Our services
  </h1>
  <h2>
    Our classes
  </h2>

  <p>
    A program in French to reconnect kids to Nature and celebrate the Earth.
  </p>
  <p>
    It follows the season, the 7 colors of the rainbow, and the elements of the Nature.
  </p>
  <p>
    Hands-on, age appropriate activities including stories, creative projects, songs and educational games.
  </p>
  <p>
    Highlighting the good habits the kids can create to better care of the planet
  </p>
</div>

<div class="container mb-5">
  <h2>How we work</h2>
  <p>
    8 classes of 50 minutes - $35 per kid, minimum of 5 kids per class
  </p>
  <p>
    Enrichment classes once a week
  </p>
</div>

<div class="container mb-5">
  <h2>Available in NYC and NJ</h2>
  <p>
    The after school is available in Private and Public schools offering a bilingual French-English education.
  </p>
  <p>
    LOGOS
  </p>
  <p>
    Schools will promote the program on their website, during open house and in monthly newsletters.
  </p>
  <p>
    Little Ecologist will exhibit in Fairs and local school events.
  </p>
</div>

<div class="container mb-5">
  <h2>Starting in September 2020</h2>
  <p>
    Available in September 2020, both for online and in-school classes.
  <p>
    The program will be available in September 2021 in English.  </p>
  </p>
</div>

