<%= render '/shared/us-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="content-wrapper container">
  <h2>
    Our values
  </h2>

  <p>
     Little Ecologist’s idea came from different observations:
  </p>
  <p>

First, as a parent, a school director or a teacher, you know more than ever that our kids are our future.
  </p>
  <p>
The Earth is our planet. And we have the responsibility to take care of her.
  </p>
  <p>
We also know that
  </p>
  <p>
Kids are more connected to our planet than us, grown-ups, and they feel more than ever the imbalance the Earth is suffering.

  </p>
  <p>
Kids are terrified, anxious and depressed about climate change. They don’t know what to do. Eco anxiety is overwhelming them.

  </p>
  <p>

Kids feel anxious when they hear about climate change and natural disaster.
  </p>
  <p>

Acting responsibly is a way to channel their energy and to feel better.
  </p>

</div>

