<!-- Spacing avec contenu precedent -->
<br>

<!-- Lien newsletter -->
<div class="container">
  <div class="text-center">
    <p>
      Inscrivez-vous à la lettre d’information et recevez notre livre électronique avec des conseils pour mettre en place de bonnes habitudes écologique dans votre famille
    </p>

    <a href="https://mailchi.mp/d6ae0e24d270/newsletter-little-ecologists"
       class="btn btn-success btn-lg active"
       role="button" aria-pressed="true">
       Je m'inscris
     </a>
  </div>
</div>
<br>
<br>

<!-- Footer -->
<div class="footer text-center">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <ul>
          <div class="footer-links">
            <a href="https://www.instagram.com/raising_little_ecologists/", target="_blank">
              <i class="fab fa-instagram text-white"></i>
            </a>
            <a href="https://www.facebook.com/littleecologists", target="_blank">
              <i class="fab fa-facebook text-white"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCOz79luMCrVbPyZ0PXj9sGg", target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.linkedin.com/company/little-ecologists/", target="_blank">
              <i class="fab fa-linkedin text-white"></i>
            </a>
            <p class="white-text-color">
              Little Ecologist <i class="fas fa-copyright"></i>
            </p>
          </div>
        </ul>
      </div>
    </div>

  </div>
</div>
