.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: $ecologist-green;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.main-logo {
  border-radius: 10%;
}

.navbar-lewagon a {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}


.navbar-button {
  font-size: 1.1rem;
  border-radius: 1rem;
}
