// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-size: 30px;
}


body {
  background-color: #0F0A08;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}
