// Place all the styles related to the ecologists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-size: 34px;
  white-space: nowrap;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.monospace-font {
  font-family: 'Libre Baskerville', serif;
  color: $ecologist-grey-brown;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  color: $ecologist-grey-brown;
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-family: 'Libre Baskerville', serif;
  color: $ecologist-grey-brown;
  font-style: normal;
}


h4 {
  font-size: 1.3rem;
  font-family: 'Libre Baskerville', serif;
  color: $ecologist-grey-brown;
  font-style: normal;
}

p {
  color: $ecologist-grey-brown;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-style: normal;
}

a {
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  color: $ecologist-grey-brown;
  font-style: italic;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: white;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}



