// Place all the styles related to the ecologists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-size: 34px;
  white-space: nowrap;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

.monospace-font {
  font-family: 'Libre Baskerville', serif;
}

h2 {
  font-size: 28px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

h3 {
  font-size: 28px;
  font-family: 'Libre Baskerville', serif;
}


h4 {
  font-size: 24px;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  color: darkgrey;
}

a {
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  color: darkgrey;
  font-style: italic;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: white;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}
